infra/kubernetes/config/core-qa/**/**/logback-overrides.xml
.gradle
idea.out
ratelimit_env.json
target
classes
certs
.idea
.terraform
*.dockerconfigjson
.dockerconfigjson
.tfstate
.tfstate.backup
*.iml
.env
.env.*
!.env.dist
!.enc.env
*secret.yaml
*secrets.yaml
*secret.yml
*secret.env
*secrets.env
*telepresence.log
**/.DS_Store
!**/local/*secret.yaml
infra/kubernetes/config/local/levelset/*/config.env
infra/kubernetes/config/local/levelset/*/secrets.env
.settings
.project
nbproject/
yarn-error.log
.classpath
**/config/**/config.tfvars
secret.auto.tfvars
**/output/*
node_modules/
dist/
.m2/repository
**.tfstate*
.vscode
heketi-key
schema.sql
*.gz
**/.factorypath
**/.springBeans
**/application-dev*
*~
*.swp
*.swo
**/*.java-version

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
**/.pnp
**/.pnp.js

# testing
**/coverage

# production
**/build

# misc
.DS_Store
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

**/cypress/videos/*
**/cypress/screenshots/*
**/ypress/
**/cypress/**/**/__image_snapshots__
